<footer class="footer">
  <div class="footer__inner">
    <span class="footer__copy">© <%= new Date().getFullYear() %> Mostafa Ashraf. Built with Node.js.</span>
    <div class="footer__links">
      <a href="https://github.com/mostafashraf18" target="_blank">GitHub</a>
      <a href="www.linkedin.com/in/mostafaashraf23" target="_blank">LinkedIn</a>
      <a href="/blog">Blog</a>
    </div>
  </div>
</footer>
</body>
</html>
